
.container {
             width: 40%;
             margin: 3% auto;
}
 
@media (max-width: 980px) {

  .container {
    width: 720px;
  }
}
@media (max-width: 750px) {

  .container {
    width: 510px;
  }
}
@media (max-width: 530px) {
 
  .container {
    width: 320px;
  }
}